
#info{
	background: #fff;
	color: #5c3a94;
	text-align: center;
	padding: 30px;
}

#info h2{
	padding: 15px;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#info h4 {
	color: #2e2672;
}

table,th, td {
	border: 1px solid #5c3a94;
	padding: 20px;
	border-collapse: collapse;
}
table thead{
	color: #fff;
	background-color:#2e2672;
}

.imag {
	background-color: #937abd62;
	justify-content: center;
	align-content: center;
}
/*Responsive*/

/*Dispositivo movil*/
@media (min-width:480px) {
	#info div .contenedor table{
		width: 40%;
	}
}
/*Tablet*/
@media (min-width:768px) {
	table{
		width: 40%;
	}
}
/*Escritorio*/
@media (min-width:1024px) {
	table{
		width: auto;
	}
}